@media screen and (max-width:800px) {
  .contentRightBox{
    width: 31.33%;
  }
}

@media screen and (max-width:700px) {
  header{
    display: block;
  }
  header img{
    margin: 10px 0 0 0;
  }
  header .logo{
    float: right;
  }
  .deptextBox {
    font-size: 12px;
  }
	.depItensBox ul li p{
  		font-size: 12px;
  	}
  	.depImgBox p{
  		font-size: 20px;
  	}
  	.maincontentLeft,.maincontentRight{
  		width: 100%;
  	}
  	.card .btn-dark{
  		font-size: 8px;
  	}
  	.card{
  		float: left;
  	}
  	.contentRightBox{
  		width: 100%;
  	}
    .headerSearch{
      position: absolute;
      width: 100%;
      left: 0;
      color: #000;
      top: 70px;
      margin: 0;
    }
    .lupa{
      top: -8px;
    }
  	.maincontentBanner p{
  		font-size: 20px;
  	}
    .menu{
      display: none;
    }
    .headerSearch{
      z-index: 999;
    }
    .menuHidden{
      margin: 20px 0 0 0;
    }
    .menuHidden, .menuHiddenn , .ectionMenuHidden{
      display: block;
    }
    #accordion2{
      width: 100%;
    }
    .sectionMenuHidden{
      display: grid;
    }
    #accordion{
      display: none!important;
    }
    .menusec{
      display: block;
    }
    .contactInfo{
      font-size: 18px;
    }
}
@media screen and (max-width:600px) {
  .ReactModal__Content{
    left: 0!important;
    right: 60%!important;
  }
}

@media screen and (max-width:420px) {
  .details{
    width: 60%;
  }
  #accordion2{
    width: 100%;
  }
  .ReactModal__Content--after-open{
    right: 0!important;
  }
  .ReactModal__Content{
    left: 0!important;
    /*right: 60%!important;*/
  }
  .details__section-table tbody tr td{
    display: block;
  }
  footer{
    display: block;
    height: auto;
  }
  header{
    flex-flow: row-reverse;
  }
	.contentRightBox img{
		/*width: 100px;*/
	}
	.contentRightBox p{
		font-size: 12px;
	}
	.contentRightBox{
  		min-height: 270px;
  }
  .contactInfo{
    font-size: 10px;
  }
}

@media screen and (max-width:420px) {
  .menuMobile li{
    overflow: hidden;
  }
  .menuMobile{
    left: 5px;
    right: inherit;
  }
  header a{
    float: right;
  }
  .menuHidden{
    float: left;
  }
}