html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 100%;
  color: #131314;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
}
::-webkit-input-placeholder {
  color: #aaa;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

/*.limiter {
  margin: 40px;
  max-width: 700px;
  border: solid 1px #ddd;
  border-radius: 6px;
  overflow: hidden;
}*/


.displayNone{
  display: none!important;
}

/* details */
.details {
  font-size: 16px;
}

.details__header {
  padding: 24px 12px 36px;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  border-bottom: solid 1px #ddd;
}
.details__codes {
  margin-top: -25px;
  display: flex;
  justify-content: center;
}
.details__codes li {
  margin: 0 12px;
  display: block;
  padding: 6px 12px;
  background: #fff;
  border: solid 1px #ddd;
  border-radius: 4px;
  font-size: .8em;
}
.details__codes li strong {
  font-weight: 600;
}

.details__content {
  padding: 24px;
  /*background: #fff;*/
}

.details__content-tabs {
  margin: 0 0 -1px 0;
  width: 100%;
  /*background: #f4f4f4;*/
}
.details__content-tabs li {
  display: inline-block;
  font-size: 13px;
  padding: 12px 18px;
  color: #aaa;
  cursor: pointer;
  width: 140px;
  text-align: center;
  margin-right: 4px;
  border: solid 1px #ddd;
  border-radius: 4px 4px 0 0;
}
.details__content-tabs li.active {
  font-weight: 600;
  border: solid 1px #ddd;
  background: #fff;
  color: #222227;
}

.details__content-body {
  padding: 12px;
  border: solid 1px #ddd;
  border-radius: 0 4px 4px 4px;
}
.details__section-list {
  margin: 0;
}

.details__section-list li ul {
  list-style: inside;
}

.details__section-list > li {
  padding: 12px 4px;
  font-size: .875em;
  color: #222227;
  border-bottom: 1px solid #eee;
}
.details__section-list li small,
.details__section-list li a {
  display: block;
  margin-bottom: 3px;
  color: #aaa;
  font-size: .875em;
  font-weight: 600;
}
.details__section-list li a {
  color: #e34;
}
.details__section-list li svg {
  width: 10px;
  height: 10px;
  fill: #999;
}

.details__section-table {
  margin-top: 12px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  border: solid 1px #ddd;
  border-radius: 6px;
}
.details__section-table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.details__section-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}
.details__section-table tbody tr td {
  padding: 12px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-size: .875em;
  color: #111;
}
.details__section-table tbody tr td:first-child {
  width: 40%;
  margin-right: 12px;
  text-align: right;
  color: #999;
}

/*gallery*/
.details__gallery {
  position: relative;
  background: #f4f4f4;
}

.details__gallery-group {
  display: flex;
  justify-content: center;
  border: solid 1px #ddd;
  background: #fff;
}

.details__gallery-group span {
  /*width: 33.32%;*/
}

.details__gallery-group span img {
  max-width: 100px;
}

.details__gallery-next,
.details__gallery-prev {
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -25px;
}

.details__gallery-next svg,
.details__gallery-prev svg {
  width: 50px;
  height: 50px;
}

.details__footer {
  padding: 12px;
  display: flex;
  justify-content: space-around;
  background: #000;
}

.details__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 80%;
  margin: 0 24px;
  border-radius: 5px;
  border: solid 1px #bb2b2a;
  background: #fff;
  color: #bb2b2a;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: ease-out .3s all;
}

@media screen and (max-width:420px) {
  .ReactModal__Content{
    left: 0!important;
    right: 60%!important;
  }
}