* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
    font-family: klavika;
    src: url('../fonts/Klavika Regular.otf');
}
ul{
	list-style: none;
	padding:0px;
	margin: 0px;
}
a{
	text-decoration: none;
}
p{
	margin:0 0 5px 0;
}

body{
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  background: #fff;
  font-family: 'klavika', sans-serif;
}
header{
	width: 100%;
	height: 120px;
	background-color:#fff;
	border:solid #000 5px;
	display: flex;
	padding: 8px 5% 0 5%;
	align-items: center;
	justify-content: space-between;
}
header img{
	height: auto;
	width: 200px;
}

.menu{
	display: inline-flex;
	font-weight: bold;
	font-size: 14px;
}
.menu li{
	margin: 0 10px;
	cursor: pointer;
	text-align: center;
}
.menu img{
	width: 10px;
	height: 20px;
}
.menu a{
	color: #000;
	font-weight: bold;
}
.menu a:hover{
	color: #2C3382;
}
main{
	padding-top: 10px;
	min-height: 500px;
	float: left;
	border-left:solid #000 5px;
	border-right:solid #000 5px;
	width: 100%;
	background-color: #fff;
}
footer{
	position: relative;
	background-size: 100% 100%;
	border:solid #000 5px;
	width: 100%;
	height: 30px;
	float: left;
	background-color: #feb913;
	display: flex;
	justify-content: space-around;
}
.itens-list > li{
	border: solid #ddd 2px;
	width: 31%;
	margin: 1%;
	float: left;
	background: none!important;
	text-align: center;
}
.itens{
	display: flex;
    align-items: center;
    justify-content: flex-start;
}
.good{
	color: green;
	border-color: green!important;
	background: green!important;
}

.warning{
	color: #ff6c06;
	border-color: #ff6c06!important;
	background: #ff6c06!important;
}

.itens img{
	width: 50%;
	float: left;
	height: 200px;
	padding: 5px;
}

.status{
	margin: 5px;
	color: #fff;
	display: block;
	background: red;
	padding: 5px;
	text-align: center;
}

.description{
	float: right;
	text-align: center;
	width: 50%;
}

.description li:last-child{
	font-size: 70px;
	background: none!important;
}


.change, .show{
	-webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
    transition: width 1s, height 1s, transform 1s;
	height: 500px;
}
.change{
	height: 100px;
}
.change ul > li{
	width: 33%;
	float: left;
}
.changeBox{
	border:solid #ddd 1px;
	width: 50%;
	margin: 5px auto;
	padding: 5px;
	overflow: hidden;
}
.changeBox ul li{
	width: 100%;
	text-align: center;
}
.changeBox input{
	margin: 0 0 0 5px;
	width: 50px;
	padding-left: 4px;
}
.none{
	height: 0;
	overflow: hidden;
	-webkit-transition: 1s;
    transition:1s;
}