* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul{
	list-style: none;
	padding:0px;
	margin: 0px;
}
a{
	text-decoration: none;
}

body{
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  background: #fff;
  font-family: 'PT Sans', sans-serif;
}

header{
	width: 100%;
	height: 80px;
	background-color:#feb913;
	border:solid #000 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
header img{
	height: 100%
}

.menu{
	display: inline-flex;
	font-weight: bold;
	font-size: 14px;
}
.menu li{
	margin: 0 10px;
	text-align: center;
}
.menu img{
	width: 10px;
	height: 10px
}
.menu a{
	color: #000;
	font-weight: bold;
}
.menu a:hover{
	color: #ffebbc;
}

.menuHidden{
	display: none;
}
main{
	float: left;
	border-left:solid #000 5px;
	border-right:solid #000 5px;
	width: 100%;
	background-color: #fff;
}
.mainDepartamentoBox{
	border-bottom: solid #000 5px;
	overflow: hidden;
}
.depImgBox    {
	width: 100%;
    float: left;
    height: 400px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.depImgBox img{
	width: 100%;
	height: 100%;
	position: absolute;
	float: left;
	filter: brightness(70%)
}
.depImgBox p{
	color: #fff;
	font-size: 46px;
	font-weight: bold;
	z-index: 999;
}

.deptextBox{
	float: left;
	font-weight: bold;
	text-align: center;
	width: 100%;
	background-color: #feb913;
}
.deptextBox p{
	padding-top: 15px;
}

.depItensBox{
	width: 100%;
	float: left;
	padding: 20px 10%;
}
.depItensBox ul{
	display: flex;
	justify-content: center;
}
.depItensBox ul li{
	width: 16.6667%;
	text-align: center;
	padding: 0 10px;
    border-right: solid 1px #DDD;
}
.depItensBox ul li:last-child{
    border-right: none;
}
.depItensBox ul li img{
	width: 100%;
}
.depItensBox ul li p{
	background-color: #feb913;
    padding: 10px;
    font-size: 13px;
    width: 90%;
    margin: 0 auto;
}

footer{
	background-size: 100% 100%;
	border:solid #000 5px;
	width: 100%;
	height: 200px;
	float: left;
	background-color: #feb913;
	display: flex;
	justify-content: space-around;
}
footer a{
	color: #000;
}
footer a:hover{
	color: #ffebbc;
}
footer li img{
	padding-top:20px;
	width: 30px;
}
.footerSobre a img{
	width: 150px;
}
footer input{
	border:solid #000 2px;
	height: 30px;
	border-radius: 5px 0 0 5px;
	padding:5px 10px;
	outline: none;
}
footer button{
	border:solid #000 2px;
	height: 30px;
	margin-left: -7px;
	border-radius:0 5px 5px 0;
	padding:5px 10px;
	outline: none;
	background-color: #feb913;
}
/*--------*/

.maincontentBanner{
    width: 100%;
    float: left;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincontentBanner img{
	width: 100%;
    position: absolute;
    float: left;
    filter: brightness(70%);
}

.maincontentBanner p{
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    z-index: 999;
}

/*=============*/
.maincontentLeft{
	padding: 20px;
	width: 25%;
	float: left;
	height: 100%;
}

.maincontentRight{
	width: 75%;
	float: left;
	padding:20px;
}
.btn-dark{
	color: #feb913;
	background-color: #000;
}
.card-body a{
	color: #feb913;
}

.contentRightBox{
	width: 31.3333%;
	float: left;
	text-align: center;
	border:solid #eee 1px;
	padding:10px;
	font-size: 12px;
	margin: 20px 1%;
}
.contentRightBox img{
	width: 150px;
	height: 150px;
}
.modalbox .modalheader{
	padding: 10px!important;
    background: blue;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
.modalbox{
	position: relative;
	width: 	31.3333%;
	float: left;
	margin:	10px 1% 0 1%;
	text-align: center;
	overflow: hidden;
	align-items: center;
	height: 100px;
	justify-content: center;
	cursor: pointer;
	text-shadow: 1px 1px 1px #000;
}
.modalbox:hover img{
	filter: brightness(90%);
}
.modalbox:hover p{
	color: #fff;
}
.modalbox img{
	border-radius: 5px;
	position: absolute;
	left:0;
	filter: brightness(70%);
	width: 	100%;
}

.modalbox p{
	position: inherit;
    color: #ddd;
    z-index: 999;
    font-weight: bold;
    margin: 0;
    line-height: 85px;
}

.modalrow{
	width: 100%;
	float: left;
}

.btn ,.btn-outline-secondary ,.btn-dark{
	z-index: 0!important;
}



.selected{
	background:#feb913;
	color: #000;
}

.selected:hover{
	background-color: #feb913;
	color: #ffebbc;
}
